<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
</head>
<body>
    <p>
        สถาบันเทคโนโลยีจิตรลดา <br> อาคาร ๖๐ พรรษา ราชสุดาสมภพ <br> สำนักพระราชวัง สนามเสือป่า <br> ถนนศรีอยุธยา เขตดุสิต กรุงเทพฯ 10300
    </p>
    <p>
        Chitralada Technology Institute <br> Rajasudasambhava 60, Bureau of the Royal <br> Household Sanam Sueapa, Si Ayutthaya Rd., Dusit, <br> Bangkok 10300
    </p>
    <p>
        อีเมล <br> saraban@cdti.ac.th
    </p>
    <br>
    <a href="../home">Back to Home</a>
</body>
</html>